<form role="form" id="formFechamento" class="form-horizontal" ng-if="pedido.situacao == 1">
    <div>
        <div class="row">
            <h3 class="text-info">Fechamento do pedido</h3>
            <hr />
        </div>
        <fieldset>
            <legend>Pagamento</legend>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Valor total: <span class="text-success">{{pedido.valorTotal | currency: "R$ "}}</span></h4>
                </div>
            </div>
            <div>
                <div class="col-sm-4 form-group">
                    <label for="formaPagamento">Selecione a forma de pagamento</label>
                    <select name="formaPagamento" required id="formaPagamento" class="form-control" ng-model="pedido.formaPagamento">
                        <option value="">(Selecione)</option>
                        <option value="D">Dinheiro</option>
                        <option value="C">Cartão de crédito</option>
                        <option value="B">Cartão de débito</option>
                        <option value="A">Cartão alimentação - Alelo</option>
                    </select>
                    <small ng-if="pedido.formaPagamento == 'A'">Levamos a máquina na sua casa</small>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-sm-2 form-group" ng-if="pedido.formaPagamento == 'D'" style="margin-left: 10px">
                    <label for="trocoPara">Pagar com</label>
                    <input type='text' name="trocoPara" autocomplete="off" id="trocoPara" format="number" class="form-control hidden-sm hidden-xs" ng-model="pedido.trocoPara" ng-blur="pedido.troco = pedido.trocoPara - pedido.valorTotal" />
                    <input type='number' step="any" name="trocoPara" autocomplete="off" id="trocoPara" class="form-control hidden-md hidden-lg" ng-model="pedido.trocoPara" ng-blur="pedido.troco = pedido.trocoPara - pedido.valorTotal" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-sm-2 form-group" ng-if="pedido.formaPagamento == 'D'" style="margin-left: 10px">
                    <label for="troco">Troco</label>
                    <div class="form-control disabled">{{ (pedido.trocoPara > 0 && pedido.trocoPara >= pedido.valorTotal ? pedido.trocoPara - pedido.valorTotal : 0)  | currency: "R$ " }}</div>
                    @*<input type='text' name="troco" id="troco" class="form-control" maxlength="10" readonly ng-model="pedido.troco" />*@
                    <div class="help-block with-errors"></div>
                </div>
                <div class="col-sm-4 form-group" ng-if="pedido.formaPagamento == 'C' || pedido.formaPagamento == 'B'" style="margin-left: 10px">
                    <label for="bandeiraCartao">Bandeira (Visa, Master, etc)</label>
                    <input type='text' required name="bandeiraCartao" id="bandeiraCartao" class="form-control" maxlength="30" ng-model="pedido.bandeiraCartao" />
                    <small>Levamos a máquina na sua casa</small>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="row">

            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Cliente</legend>
            <div class="form-group">
                <label for="telefone" class="col-sm-2 control-label">Telefone</label>
                <div class="col-sm-3">
                    <input type="text" autocomplete="off" required id="telefone" ng-blur="getDadosUsuarioByPhone(pedido.dadosCliente.telefone)" name="telefone" class="form-control" ng-model="pedido.dadosCliente.telefone" maxlength="15" onkeypress="mascara(this, mtel)" ng-blur="formataTelefone()" />
                    <small class="hidden-sm hidden-md hidden-lg">Somente números com ddd. Ex: 99999999999</small>
                    <div class="help-block with-errors"></div>
                </div>
                @*<div ng-if="modoAdm.ativo" class="col-sm-1">
                    <button type="button" class="btn btn-primary btn-sm" title="Buscar" ng-click="getDadosUsuarioByPhone(pedido.dadosCliente.telefone)">
                        <span class=" glyphicon glyphicon-search" aria-hidden="true">
                        </span>
                    </button>
                </div>*@
                <div class="col-sm-5 alert alert-info alert-dismissible fade in {{informacao.mensagem ? '' : 'hidden'}}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{informacao.mensagem}}
                </div>
            </div>
            <div class="form-group">
                <label for="nome" class="col-sm-2 control-label">Nome completo</label>
                <div class="col-sm-10">
                    <input type="text" required id="nome" name="nome" class="form-control" ng-model="pedido.dadosCliente.nome" maxlength="80" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Endereço</legend>

            <div id="divCheckMudarSenha" class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label class="control-label"><input type="checkbox" id="checkSalvardados" name="checkSalvardados" ng-model="pedido.dadosCliente.salvar" />Salvar informações para próximas entregas</label>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="estado" class="col-sm-2 control-label">Estado</label>
                <div class="col-sm-1">
                    <input type="text" readonly id="estado" name="estado" class="form-control" value="MG" ng-model="pedido.dadosCliente.estado" />
                </div>
            </div>

            <div class="form-group">
                <label for="cidade" class="col-sm-2 control-label">Cataguases</label>
                <div class="col-sm-3">
                    <input type="text" readonly id="cidade" name="cidade" class="form-control" value="CATAGUASES" ng-model="pedido.dadosCliente.cidade" />
                </div>
            </div>

            <div class="form-group">
                <label for="logradouro" class="col-sm-2 control-label">Logradouro</label>
                <div class="col-sm-10">
                    <input type="text" required id="logradouro" name="logradouro" class="form-control" ng-model="pedido.dadosCliente.logradouro" maxlength="100" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="numero" class="col-sm-2 control-label">Número</label>
                <div class="col-sm-1">
                    <input type="text" required id="numero" name="numero" class="form-control" ng-model="pedido.dadosCliente.numero" maxlength="10" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="complemento" class="col-sm-2 control-label">Complemento</label>
                <div class="col-sm-6">
                    <input type="text" id="complemento" name="complemento" class="form-control" ng-model="pedido.dadosCliente.complemento" maxlength="50" />
                </div>
            </div>

            <div class="form-group">
                <label for="bairro" class="col-sm-2 control-label">Bairro</label>
                <div class="col-sm-6">
                    <input type="text" required id="bairro" name="bairro" class="form-control" ng-model="pedido.dadosCliente.bairro" maxlength="50" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="referencia" class="col-sm-2 control-label">Referência</label>
                <div class="col-sm-10">
                    <input type="text" required id="referencia" name="referencia" class="form-control" ng-model="pedido.dadosCliente.referencia" maxlength="100" />
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </fieldset>
        <hr />
        <div class="row">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="retornarTelaPedido()">Retornar</button>
                <button type="button" class="btn btn-success" ng-click="finalizaPedido()">
                    Finalizar pedido
                </button>
            </div>
        </div>
    </div>
</form>