<!-- Modal -->
<style>
    .spinner {
        width: 100px;
    }

        .spinner input {
            text-align: right;
        }

    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
    }

        .input-group-btn-vertical > .btn {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
            padding: 8px;
            margin-left: -1px;
            position: relative;
            border-radius: 0;
        }

            .input-group-btn-vertical > .btn:first-child {
                border-top-right-radius: 4px;
            }

            .input-group-btn-vertical > .btn:last-child {
                margin-top: -2px;
                border-bottom-right-radius: 4px;
            }

        .input-group-btn-vertical i {
            position: absolute;
            top: 0;
            left: 4px;
        }

    .backgroundClasse {
        background-image: url('../../Content/img/classes_cardapio/img_classe12.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
    }
</style>
<div class="modal fade" id="modalIncluirItem" tabindex="-1" role="dialog" aria-labelledby="labelModalIncluirItem" style="overflow: scroll;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="labelModalIncluirItem">Incluir item no pedido</h4>
            </div>
            <div class="modal-body">
                <div cg-busy="{promise:promiseGetDadosItemCardapio,backdrop:false,delay:10,minDuration:1000}"></div>
                <div class="row backgroundClasse" ng-if="itemCardapioSelecionado == null">
                    <div class="col-sm-4 text-left">
                        <div>
                            <small><strong class="text-primary">Pesquise pelo nome</strong></small><input type="text" id="pesquisaItem" name="pesquisaItem" class="form-control" ng-model="pesquisaItem.chave" ng-keyup="pesquisaItens()" maxlength="20" />
                        </div>
                        <div>
                            <small><strong class="text-primary">ou</strong></small>
                        </div>
                        <div class="dropdown">
                            <button id="dLabel" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 5px; margin-top: 5px">
                                <span id="dropdownText">{{comboClasse.descricaoClasse}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                <li ng-repeat="classe in classes | orderBy : 'ordemExibicao'">
                                    <a href="#" ng-click="filtraClasse(classe.codClasse)">{{classe.descricaoClasse}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <img src="../{{classeSelecionada.imagemMini}}" alt="{{classeSelecionada.imagemMini}}" ng-show="classeSelecionada.imagem != null" style="max-width: 50%; height: auto; margin: 5px;" class="img-responsive" />
                    </div>
                </div>
                <hr />
                <h5 class="text-warning" ng-if="(itensFiltrados == null || itensFiltrados.length == 0) && comboClasse.codClasse > 0">Nenhum item encontrado para esta classe.</h5>
                <div ng-repeat="item in itensFiltrados | orderBy : ['-percentualDesconto','+preco']" ng-if="(itensFiltrados != null && itensFiltrados.length > 0) && itemCardapioSelecionado == null">
                    <div class="row hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-6 text-left">
                            <a href="#" class="btn btn-sq-sm btn-default" ng-click="selecionaItemParaInclusao(item.codItemCardapio)">
                                <br />
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6" ng-if="item.complemento != null && item.complemento.imagem != null">
                            <a href="#" class="pop" ng-click="exibeImagemGrande(item.codItemCardapio)" ng-if="item.complemento != null && item.complemento.imagem != null">
                                <img src="~/{{item.complemento.imagemMini}}" alt="{{item.nome}}" style="max-width: 80px; height: auto;" class="img-circle">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 hidden-xs">
                            <a href="#" class="pop" ng-click="exibeImagemGrande(item.codItemCardapio)" ng-if="item.complemento != null && item.complemento.imagem != null">
                                <img src="~/{{item.complemento.imagemMini}}" alt="{{item.nome}}" style="max-width: 100px; max-height: 135px; height: auto;" class="img-circle">
                            </a>
                            <a href="#" class="pop" ng-click="exibeImagemGrande(item.codItemCardapio)" ng-if="item.complemento == null || item.complemento.imagem == null">
                                @*<img src="~/Content/img/itens_cardapio/mini-sem_foto.jpeg" alt="Sem imagem" style="max-width: 90%; height: auto;" class="img-circle">*@
                            </a>
                        </div>
                        <div class="col-sm-5">
                            <h4>{{item.nome}}</h4>
                            <h6 ng-if="item.complemento != null && item.complemento.descricaoLonga != null">{{item.complemento.descricaoLonga}}</h6>
                            <h6 ng-if="(item.complemento == null || item.complemento.descricaoLonga == null) && !(item.codCombo > 0)">{{item.nome}}</h6>
                            <h6 ng-if="(item.complemento == null || item.complemento.descricaoLonga == null) && item.codCombo > 0">{{item.descricao}}</h6>
                        </div>
                        <div class="col-sm-3">
                            <div ng-show="item.percentualDesconto > 0">
                                <h4 class="tachado" style="margin-bottom: 0px">{{item.preco | currency: "R$ "}}</h4><br />
                                <h4 style="margin-top: 0px" class="text-success"><strong>{{item.percentualDesconto | currency: ""}}% off - Por {{item.precoComDesconto | currency: "R$ "}}</strong></h4>
                            </div>
                            <div ng-show="item.percentualDesconto <= 0">
                                <h4>{{item.preco | currency: "R$ "}}</h4>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center hidden-xs">
                            <a href="#" class="btn btn-sq-sm btn-default" ng-click="selecionaItemParaInclusao(item.codItemCardapio)">
                                <br />
                                <i class="fa fa-check fa-3x"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                </div>
                <div ng-if="itemCardapioSelecionado != null">
                    <div class="row">
                        <div class="col-sm-7">
                            <h2 style="margin-top: 0px">{{itemCardapioSelecionado.nome}}</h2>
                        </div>
                        <div class="col-sm-3">
                            <div ng-show="itemCardapioSelecionado.percentualDesconto > 0">
                                <h4 class="tachado" style="margin-bottom: 0px">{{itemCardapioSelecionado.preco | currency: "R$ "}}</h4><br />
                                <h4 style="margin-top: 0px" class="text-success"><strong>{{itemCardapioSelecionado.percentualDesconto | currency: ""}}% off - Por {{itemCardapioSelecionado.precoComDesconto | currency: "R$ "}}</strong></h4>
                            </div>
                            <div ng-show="itemCardapioSelecionado.percentualDesconto <= 0">
                                <h4>{{itemCardapioSelecionado.preco | currency: "R$ "}}</h4>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            @*https://codepen.io/Thomas-Lebeau/pen/csHqx*@
                            <div class="input-group spinner">
                                <input id="quantidadeItemIncluir" type="text" class="form-control" value="{{novoItem.quantidade}}" readonly>
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default" type="button" ng-click="incrementaQuantidade()"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default" type="button" ng-click="decrementaQuantidade()"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 ng-if="itemCardapioSelecionado.complemento != null && itemCardapioSelecionado.complemento.descricaoLonga != null">{{itemCardapioSelecionado.complemento.descricaoLonga}}</h5>
                            <h5 ng-if="itemCardapioSelecionado.complemento == null || itemCardapioSelecionado.complemento.descricaoLonga == null">{{itemCardapioSelecionado.nome}}</h5>
                        </div>
                    </div>
                    <div ng-if="dadosItemCardapio != null && dadosItemCardapio.observacoes != null && dadosItemCardapio.observacoes.length > 0">
                        <br />
                        <div class="row bg-warning">
                            <div class="col-sm-12">
                                <span>Observações de preparo</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" ng-repeat="obs in dadosItemCardapio.observacoes track by $index">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="novoItem.obs[$index]" ng-false-value="null" ng-true-value="{{obs}}" id="checkObs{{obs.codObservacao}}"> {{obs.descricaoObservacao}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            Obs
                        </div>
                        <div class="col-sm-11">
                            <input type="text" required id="observacaoLivre" name="observacaoLivre" class="form-control" maxlength="100" ng-model="novoItem.observacaoLivre" />
                        </div>
                    </div>
                    <div ng-if="dadosItemCardapio != null && dadosItemCardapio.extras != null && dadosItemCardapio.extras.length > 0">
                        <br />
                        <div class="row bg-success">
                            <div class="col-sm-12">
                                <span>Turbine seu pedido</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" ng-repeat="extra in dadosItemCardapio.extras track by $index">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="novoItem.extras[$index]" ng-false-value="null" ng-true-value="{{extra}}" id="checkExtra{{obs.codOpcaoExtra}}" ng-change="atualizaValorTotalItem()"> {{extra.descricaoOpcaoExtra}} - {{extra.preco | currency: "R$ "}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-12 text-right text-success">
                                <h3>Total: {{novoItem.valorTotalItem | currency: "R$ "}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" ng-if="itemCardapioSelecionado != null">
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelaInclusaoItem()">Cancelar</button>
                <button type="button" class="btn btn-success" ng-click="confirmaInclusaoItem()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: scroll;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" id="imagepreview" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>