@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/app/AcompanharPedidosForm/apController.js"></script>
<div ng-controller="apController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')" class="row">
    <div class="col-xs-12">
        @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
        <div cg-busy="{promise:promisesLoader,backdrop:false,delay:10,minDuration:1000}"></div>
        <div cg-busy="{promise:promiseFinalizaPedido,backdrop:false,delay:10,minDuration:1000}"></div>
        <form role="form" id="formPedido" class="form-horizontal" ng-submit="submitForm()">
            <br />
            <div>
                <h4>Acompanhar pedidos</h4>
                <hr />
                <div ng-if="pedidoSelecionado == '' || pedidoSelecionado == null || pedidoSelecionado.codPedido == 0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-success">
                                Você não possui nenhum pedido em aberto no momento.
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success btn-default btn-lg" data-toggle="modal" ng-click="consultarPedidos()">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>Consultar pedidos antigos
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="pedidoSelecionado.codPedido > 0">
                    <div class="row" ng-if="pedidoSelecionado.situacao == 1">
                        <div class="col-sm-12">
                            <h3>Seu pedido <strong class="text-success">{{pedidoSelecionado.codPedido}}</strong> está na situação <span class="text-danger">{{descricaoSituacaoPedido}} <i class="fa fa-spinner fa-spin fa"></i></span></h3>
                            <h4 class="text-primary">A confirmação significa que nossa loja recebeu o pedido e está iniciando o preparo dos itens. Vamos informá-lo aqui nessa tela quando ele for confirmado. Por favor aguarde...</h4>
                        </div>
                    </div>
                    <div class="row" ng-if="pedidoSelecionado.situacao == 2">
                        <div class="col-sm-12">
                            <h3>Seu pedido <strong class="text-success">{{pedidoSelecionado.codPedido}}</strong> está na situação <span class="text-primary">{{descricaoSituacaoPedido}} <i class="fa fa-spinner fa-spin fa"></i></span></h3>
                            <h4 class="text-primary">Seu pedido já vai ser preparado. Por favor aguarde...</h4>
                        </div>
                    </div>
                    <div class="row" ng-if="pedidoSelecionado.situacao == 3">
                        <div class="col-sm-12">
                            <h3>Seu pedido <strong class="text-success">{{pedidoSelecionado.codPedido}}</strong> está na situação <span class="text-primary">{{descricaoSituacaoPedido}} <i class="fa fa-spinner fa-spin fa"></i></span></h3>
                            <h4 class="text-primary">Seu pedido está em preparação na nossa cozinha. Por favor aguarde...</h4>
                        </div>
                    </div>
                    <div class="row" ng-if="pedidoSelecionado.situacao == 4">
                        <div class="col-sm-12">
                            <h3>Seu pedido <strong class="text-success">{{pedidoSelecionado.codPedido}}</strong> está na situação <span class="text-primary">{{descricaoSituacaoPedido}} <i class="fa fa-spinner fa-spin fa"></i></span></h3>
                            <h4 class="text-primary">Tá quase. Seu pedido já saiu para entrega e já vai chegar para você. Por favor aguarde...</h4>
                        </div>
                    </div>
                    <div>
                        @Html.Partial("_CabecalhoPedido")
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalPedidoConfirmado" tabindex="-1" role="dialog" aria-labelledby="labelModalPedidoConfirmado" style="overflow: scroll;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="labelModalPedidoConfirmado">Confirmação de pedido</h4>
                        </div>
                        <div class="modal-body">
                            <h2 style="margin-top: 0px;">Oba! <i class="fa fa-handshake-o text-success" aria-hidden="true"></i></h2>
                            <h4>
                                Seu pedido foi confirmado! Agora é só esperar a entrega.
                            </h4>
                            <h5>
                                Você poderá continuar acompanhando o andamento do pedido nessa mesma tela.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>