@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<script src="~/app/GerenciarPedidosForm/gpController.js"></script>
<div ng-controller="gpController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')">
    <div class="alert alert-danger alert-dismissible fade in {{erro.mensagem ? '' : 'hidden'}}" role="alert" style="margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{erro.mensagem}}
        <br />
    </div>
    <div class="alert alert-success alert-dismissible fade in {{sucesso.mensagem ? '' : 'hidden'}}" role="alert" style="margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{sucesso.mensagem}}
        <br />
    </div>
    <div cg-busy="{promise:promisesLoader,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseGravaPedido,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseImprime,backdrop:false,delay:10,minDuration:1000}"></div>
    <audio id="play" src="~/Content/sounds/beep.wav"></audio>
    <form role="form" id="formPedido" class="form-horizontal" ng-submit="submitForm()">
        <br />
        <div class="row">
            <h4>Gerenciar pedidos</h4>
            <hr />

            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success" ng-click="novoPedidoExterno()">
                        <span class="glyphicon glyphicon-phone-alt"></span> Novo pedido externo
                    </button>
                </div>
            </div>
            <div ng-if="pedidos.length == 0">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="text-success">
                            Nenhum pedido encontrado.
                        </h4>
                    </div>
                </div>
            </div>
            <div ng-if="pedidos.length > 0">
                <div class="row text-center">
                    <div class="col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="text-left">
                                        Nº Pedido
                                    </th>
                                    <th class="text-left">
                                        Externo
                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th class="text-left">
                                        Data
                                    </th>
                                    <th>
                                        Tempo
                                    </th>
                                    <th class="text-left">
                                        Situação
                                    </th>
                                    <th class="text-right">
                                        Valor total
                                    </th>
                                    <th class="text-left">
                                        Forma pagamento
                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ped in pedidos">
                                    <td class="text-left">
                                        {{ped.codPedido}}
                                    </td>
                                    <td class="text-left">
                                        <span ng-if="ped.pedidoExterno">Sim</span>
                                        <span ng-if="!ped.pedidoExterno">Não</span>
                                    </td>
                                    <td class="text-left">
                                        {{ped.dadosCliente.nome}}
                                    </td>
                                    <td class="text-left">
                                        {{ped.dataPedido | date:'dd/MM/yyyy HH:mm'}}
                                    </td>
                                    <td>
                                        <timer start-time="getTimeMs(ped.dataPedido)">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
                                    </td>
                                    <td ng-class="determinaEstiloBotao(ped, 'S')">
                                        {{ped.descricaoSituacao}}
                                    </td>
                                    <td class="text-right">
                                        {{ped.valorTotal | currency: "R$ "}}
                                    </td>
                                    <td class="text-left">
                                        {{ped.descricaoFormaPagamento}}
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Detalhes" ng-click="visualizaPedido(ped)">
                                            <span class=" glyphicon glyphicon-list" aria-hidden="true">
                                            </span>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Reimprimir" ng-click="imprimePedido(ped)">
                                            <span class=" glyphicon glyphicon-print" aria-hidden="true">
                                            </span>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Alterar" ng-click="alteraPedido(ped)">
                                            <span class=" glyphicon glyphicon-edit" aria-hidden="true">
                                            </span>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" ng-class="determinaEstiloBotao(ped, 'B')" title="Avançar" ng-click="avancarPedido(ped)" ng-if="ped.situacao == 0 || ped.situacao == 1 || ped.situacao == 2 || ped.situacao == 3">
                                            <span ng-class="determinaEstiloBotao(ped, 'I')" aria-hidden="true">
                                            </span>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Finalizar" ng-click="finalizaPedido(ped)" ng-if="ped.pedidoExterno && ped.situacao == 4">
                                            <span class=" glyphicon glyphicon-ok" aria-hidden="true">
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Pedido:
                <input type="text" ng-model="pedido.codPedido" /><br />
                Situação:
                <input type="text" ng-model="pedido.situacao" /><br />
                Usuário:
                <input type="text" ng-model="pedido.usuario" /><br />
                <input type="button" ng-click="sendMessage()" value="aaa" />*@
        </div>
        <div class="modal fade" id="modalDetalhesPedido" tabindex="-1" role="dialog" aria-labelledby="labelModalDetalhesPedido" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModalDetalhesPedido">Detalhes do pedido</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_CabecalhoPedido")<hr />
                        @Html.Partial("_ListaItensPedido")
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
