<script src="~/app/PedidoRegistradoForm/pedRegistradoController.js"></script>
<form role="form" id="formPedidoRegistrado" class="form-horizontal" ng-controller="pedRegistradoController">
    <h3 class="text-success">Parabéns!</h3>
    <h4>Seu pedido foi registrado com sucesso em nosso sistema!</h4><br />
    <h2>O número para acompanhamento é <span class="text-success">{{pedido.codPedido}}</span></h2><br />
    <h4>Clique <a href="~/Views/Pedido/PedidoRegistrado.cshtml">aqui</a> para acompanhar o andamento do pedido.</h4>
</form>