@using BrasaoSolution.Repository;
@{
    ViewBag.Title = SessionData.LojaSelecionada.NomeFantasia + " - Redefinição de senha de acesso";
}
<div class="centro">
    <hgroup class="title">
        <h1>Atenção!</h1>
    </hgroup>
    <div>
        <p>
            Por favor verifique seu e-mail e siga as instruções para redefinir sua senha de acesso.
        </p>
    </div>
</div>
