<mat-accordion *ngIf="mensagemErro">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="text-danger">Erro</span>
            </mat-panel-title>
            <mat-panel-description>
                <span class="text-primary">Ver detalhes</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        Detalhes do erro
    </mat-expansion-panel>
</mat-accordion>

<table mat-table [dataSource]="datasource" multiTemplateDataRows class="mat-elevation-z8" style="margin-top: 8px">
    <ng-container matColumnDef="seqItem">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{element.seqItem}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Item</th>
        <td mat-cell *matCellDef="let element">
            {{element.descricaoItem}}
            <!--<button mat-raised-button *ngIf="element.getObsString() != ''"
                    [matTooltip]="element.getObsString()">
                Obs
            </button>-->

        </td>
    </ng-container>

    <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef>Qtd</th>
        <td mat-cell *matCellDef="let element">{{element.quantidade}}</td>
    </ng-container>

    <ng-container matColumnDef="precoUnitario">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let element">{{element.precoUnitario | currency:'BRL'}}</td>
    </ng-container>

    <!--<ng-container matColumnDef="extras">
        <th mat-header-cell *matHeaderCellDef>Extras</th>
        <td mat-cell *matCellDef="let element">
            <div class="row">
                <div class="col">
                    <button class="btn btn-sm btn-success" style="" [matTooltip]="element.getExtrasString()" *ngIf="element.getExtrasString() != ''"><i class="fa fa-user-plus"></i></button>
                </div>
                <div class="col">
                    <button class="btn btn-sm btn-primary" style="" [matTooltip]="element.getObsString()" *ngIf="element.getObsString() != ''"><i class="fa fa-comments"></i></button>
                </div>
            </div>
        </td>
    </ng-container>-->

    <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.valorTotal | currency:'BRL'}}</td>
    </ng-container>

    <ng-container matColumnDef="remover">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="btn btn-sm btn-danger" style="margin-left: 4px;" (click)="confirmaExclusaoItem(element)"><i class="fa fa-minus"></i></button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
                 [@detailExpand]="element.temExtrasObs() != '' ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                    <div class="text-primary" *ngIf="element.getExtrasString() != ''"> {{element.getExtrasString()}} </div>
                    <div class="text-warning" *ngIf="element.getObsString() != ''"> {{element.getObsString()}} </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [ngClass]="(row.temExtrasObs() == '' ? 'example-expanded-row' : '')"></tr>
</table>
<div class="card bg-light" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="card-body" style="padding-top: 2px; padding-bottom: 2px">
        <h4>Total pedido: {{valorTotalPedido | currency:'BRL'}}</h4>
    </div>
</div>
<br />
<button class="btn btn-primary btn-block" [routerLink]="['/pedido']"><i class="fa fa-plus" style="margin-right: 2px;"></i>Adicionar itens</button>
<button class="btn btn-success btn-block" (click)="confirmaPedido()"><i class="fa fa-check-circle-o" style="margin-right: 2px; margin-top: 5px;"></i>Enviar pedido</button>