@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<style>
    body {
        overflow-y: scroll;
    }
</style>
<script src="~/app/IntegracaoTronSolutionForm/itsController.js"></script>
<div ng-controller="itsController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')" class="centro">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promiseSolicitarSincronizacao,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseExecutarSincronizacao,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formIntegracao" class="form-horizontal" ng-submit="submitForm()">
        <h3>Integração - Tron Solution</h3>
        <hr />
        <div class="row">
            <div class="col-sm-12" ng-if="listaAlteracoes == null || listaAlteracoes.length <= 0">
                <span>Clique no botão para sincronizar.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div ng-repeat="item in listaAlteracoes"><span>{{item}}</span></div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" ng-click="solicitarSincronizacao()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Sincronizar
        </button>
    </form>
</div>