<h3 class="text-primary"><i class="fa fa-hand-paper-o fa-3x"></i>Estamos em manutenção!</h3>
<h2>Estamos construindo uma plataforma de pedidos que vai surpreender você. Em breve estaremos no ar.<br />
<h4>Enquanto isso, que tal conhecer o nosso cardápio? Clique @Html.ActionLink("aqui", "Listar", "Cardapio").</h4>