@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<style>
    body {
        overflow-y: scroll;
    }
</style>
<script src="~/app/CadastroImpressoraProducao/cipController.js"></script>
<div ng-controller="cipController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')" class="centro">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promiseGetImpressoras,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseExcluirImpressora,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formImp" class="form-horizontal" ng-submit="submitForm()">
        <h3>Impressoras de produção - Cadastro</h3>
        <hr />
        <div class="table-responsive">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="codImpressora" width="10%"><a href="#">Código</a></th>
                        <th st-sort="descricao" width="30%"><a href="#">Descrição</a></th>
                        <th st-sort="porta" width="50%"><a href="#">Porta</a></th>
                        <th st-sort="" colspan="2" width="10%"><a href="#"></a></th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="codImpressora" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="descricao" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="porta" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th colspan="2">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="rowCollection.length <= 0">
                        <td colspan="5">
                            <div>
                                <small>Nenhum item cadastrado</small>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="imp in displayedCollection" ng-if="rowCollection.length > 0">
                        <td>{{imp.codImpressora}}</td>
                        <td>{{imp.descricao}}</td>
                        <td>{{imp.porta}}</td>
                        <td>
                            <button type="button" ng-click="confirmaExclusaoImp(imp)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button" ng-click="modalAlteracao(imp)" class="btn btn-sm btn-warning">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">
                            <div class="text-right">
                                <button type="button" ng-click="modalInclusao()" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-plus">
                                    </i>Cadastrar
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
    <form role="form" id="formGravarImp" class="form-horizontal">
        <div class="modal fade" id="modalGravarImp" tabindex="-1" role="dialog" aria-labelledby="labelModalGravarImp" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModalGravarImp">Impressora de produção - Manutenção</h4>
                    </div>
                    <div class="modal-body">
                        <div cg-busy="{promise:promiseGravarImp,backdrop:false,delay:10,minDuration:1000}"></div>

                        <div class="form-group">
                            <label for="codImpressora" class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-2">
                                <input type="text" id="codImpressora" ng-disabled="modoCadastro == 'A'" name="codImpressora" class="form-control" ng-model="impSelecionada.codImpressora" maxlength="5" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <small ng-id="modoCadastro == 'I'">Deixe o campo vazio para gerar o código automaticamente</small>
                        </div>

                        <div class="form-group">
                            <label for="descricao" class="col-sm-2 control-label">Descrição</label>
                            <div class="col-sm-10">
                                <input type="text" required id="descricao" name="descricao" class="form-control" ng-model="impSelecionada.descricao" maxlength="200" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="porta" class="col-sm-2 control-label">Porta</label>
                            <div class="col-sm-10">
                                <input type="text" required id="porta" name="porta" class="form-control" ng-model="impSelecionada.porta" maxlength="200" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" ng-click="gravarImpressoraProducao()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>