@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<style>
    body {
        overflow-y: scroll;
    }
</style>
<script src="~/app/CadastroExtrasItemForm/ceiController.js"></script>
<div ng-controller="ceiController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')" class="centro">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promiseGetOpcoesExtra,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseGetClasses,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseSalvarExtras,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formPerfil" class="form-horizontal" ng-submit="submitForm()">
        <h3>Associação de opções extra a itens de cardápio</h3>
        <hr />
        <div class="row">
            <div class="col-sm-12">

            </div>
        </div>

        <div class="form-group">
            <label for="tipo" class="col-sm-2 control-label">Associar por</label>
            <div class="col-sm-6">
                <select name="tipo" id="tipo" required class="form-control" ng-model="associacao.tipo" ng-change="selecionaTipoAssociacao()">
                    <option value="">(Selecione)</option>
                    <option value="C">Classe</option>
                    <option value="I">Item</option>
                </select>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group" ng-show="associacao.tipo == 'C'">
            <label for="codClasse" class="col-sm-2 control-label">Classe</label>
            <div class="col-sm-6">
                <select name="codClasse" id="codClasse" required class="form-control" ng-model="associacao.codClasse">
                    <option value="">(Selecione)</option>
                    <option ng-repeat="classe in classes" value="{{classe.codClasse}}">{{classe.descricaoClasse}}</option>
                </select>
                <small>Todos os itens da classe ficarão apenas com os extras selecionados. Outras associações serão perdidas.</small>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div class="form-group" ng-show="associacao.tipo == 'I'">
            <label for="item" class="col-sm-2 control-label">Item de cardápio</label>
            <div class="col-sm-10">
                <div>
                    <input type="text"
                           required
                           ng-model="associacao.nome"
                           class="form-control"
                           placeholder="Digite parte do nome"
                           auto-complete="autoCompleteOptions" />
                </div>
                <div id="dropdownParent"
                     class="inline-auto-complete-container">
                </div>
                <div class="help-block with-errors"></div>
            </div>
        </div>

        <div ng-show="associacao.codItemCardapio > 0 || associacao.codClasse > 0">
            <div class="multiDemo row">
                <div ng-repeat="list in models" class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{list.listName}}</h3>
                        </div>
                        <div class="panel-body">

                            <ul dnd-list dnd-drop="onDrop(list, item, index)">
                                <li ng-repeat="item in list.items"
                                    dnd-draggable="getSelectedItemsIncluding(list, item)"
                                    dnd-dragstart="onDragstart(list, event)"
                                    dnd-moved="onMoved(list)"
                                    dnd-dragend="list.dragging = false"
                                    dnd-selected="item.selected = !item.selected"
                                    ng-class="{'selected': item.selected}"
                                    ng-hide="list.dragging && item.selected">
                                    {{item.descricaoOpcaoExtra}} - {{item.preco | currency: "R$ "}}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <button type="button" class="btn btn-success" ng-click="salvarExtras()">Salvar</button>
                </div>
            </div>
        </div>


    </form>
</div>