@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<style>
    body {
        overflow-y: scroll;
    }

    .containerAAA {
        position: relative;
        width: 150px;
        height: 100%;
    }

    .overlayAAA {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s ease;
    }

    .containerAAA:hover .overlayAAA {
        display: block;
        background: rgba(0, 0, 0, .3);
    }

    .imgAAA {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 0;
    }

    .buttonAAA {
        position: absolute;
        width: 150px;
        left: 0;
        top: 40%;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
    }

        .buttonAAA a {
            width: 150px;
            padding: 12px 48px;
            text-align: center;
            color: white;
            border: solid 2px white;
            z-index: 1;
        }

    .containerAAA:hover .buttonAAA {
        opacity: 1;
    }
</style>
<script src="~/app/CadastroItemCardapioForm/citemController.js"></script>
<div ng-controller="cicController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')" class="centro" nv-file-drop="" uploader="uploader">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promiseGetClasses,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseGetImpressorasProducao,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseExcluirClasse,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formClasse" class="form-horizontal" ng-submit="submitForm()">
        <h3>Item de cardápio - Cadastro</h3>
        <hr />
        <div ng-if="rowCollection.length <= 0">
            <small>Nenhum item cadastrado</small>
        </div>
        <div class="table-responsive">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped" ng-if="rowCollection.length > 0">
                <thead>
                    <tr>
                        <th st-sort="codClasse" width="10%"><a href="#">Código</a></th>
                        <th st-sort="imagem" width="15%"><a href="#">Imagem</a></th>
                        <th st-sort="descricaoClasse" width="20%"><a href="#">Nome</a></th>
                        <th st-sort="descricaoImpressoraPadrao" width="15%"><a href="#">Preço</a></th>
                        <th st-sort="ordemExibicao" width="10%"><a href="#">Ordem exibição</a></th>
                        <th st-sort="sincronizar" width="10%"><a href="#">Sincronizar</a></th>
                        <th st-sort="ativo" width="10%"><a href="#">Ativo</a></th>
                        <th st-sort="" colspan="2" width="10%"><a href="#"></a></th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="codClasse" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="descricaoClasse" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th colspan="6">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="classe in displayedCollection">
                        <td>{{classe.codClasse}}</td>
                        <td>{{classe.descricaoClasse}}</td>
                        <td>{{classe.descricaoImpressoraPadrao}}</td>
                        <td>
                            @*{{classe.imagem}}*@
                            <img src="../{{classe.imagemMini}}" alt="{{classe.imagemMini}}" ng-show="classe.imagem != null" style="max-width: 50%; height: auto;" class="img-thumbnail" />
                            @*<input type="hidden" value="~/Content/img/itens_cardapio/@item.Complemento.Imagem" />*@
                        </td>
                        <td>{{classe.ordemExibicao}}</td>
                        <td>{{classe.sincronizar ? 'Sim' : 'Não'}}</td>
                        <td>
                            <button type="button" ng-click="confirmaExclusaoClasse(classe)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button" ng-click="modalAlteracao(classe)" class="btn btn-sm btn-warning">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" class="text-right">
                            <div class="text-right">
                                <button type="button" ng-click="modalInclusao()" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-plus">
                                    </i>Cadastrar
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
    <form role="form" id="formGravarClasse" class="form-horizontal">
        <div class="modal fade" id="modalGravarClasse" tabindex="-1" role="dialog" aria-labelledby="labelModalGravarClasse" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModalGravarClasse">Classe de item de cardápio - Manutenção</h4>
                    </div>
                    <div class="modal-body">
                        <div cg-busy="{promise:promiseGravarClasse,backdrop:false,delay:10,minDuration:1000}"></div>
                        @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
                        <div class="form-group">
                            <label for="codClasse" class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-2">
                                <input type="text" id="codClasse" ng-disabled="modoCadastro == 'A'" name="codClasse" class="form-control" ng-model="classeSelecionada.codClasse" maxlength="5" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <small ng-id="modoCadastro == 'I'">Deixe o campo vazio para gerar o código automaticamente</small>
                        </div>

                        <div class="form-group">
                            <label for="numero" class="col-sm-2 control-label">Descrição</label>
                            <div class="col-sm-10">
                                <input type="text" required id="numero" name="numero" class="form-control" ng-model="classeSelecionada.descricaoClasse" maxlength="200" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numero" class="col-sm-2 control-label">Impressora padrão</label>
                            <div class="col-sm-6">
                                <select name="codImpressoraPadrao" id="codImpressoraPadrao" class="form-control" ng-model="classeSelecionada.codImpressoraPadrao" ng-change="selecionaImpressora()">
                                    <option value="">(Selecione)</option>
                                    <option ng-repeat="imp in impressorasProducao" ng-selected="classeSelecionada.codImpressoraPadrao == imp.codImpressora" value="{{imp.codImpressora}}">{{imp.descricao}}</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group" ng-show="classeSelecionada.codClasse > 0">
                            <label for="numero" class="col-sm-2 control-label">Imagem</label>
                            <div class="col-sm-3">
                                <div ng-show="uploader.isHTML5">
                                    <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                    <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                        Arraste a imagem até aqui
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="table-responsive">

                                    <div class="containerAAA" ng-show="classeSelecionada.imagem != null && uploader.queue.length == 0">
                                        <img src="../{{classeSelecionada.imagemMini}}" alt="{{classeSelecionada.imagemMini}}" class="img-thumbnail" />
                                        <div class="overlayAAA"></div>
                                        <div class="buttonAAA">
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="removerImagem()">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <table class="table" ng-show="uploader.queue.length > 0">
                                        <thead>
                                            <tr>
                                                <th width="30%">Imagem</th>
                                                <th width="15%" ng-show="uploader.isHTML5">Tamanho</th>
                                                <th width="20%" ng-show="uploader.isHTML5">Progresso</th>
                                                <th width="15%">Status</th>
                                                <th width="20%">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td>
                                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 60 }" title="{{ item.file.name }}" data-toggle="tooltip" data-placement="top" tooltip></div>
                                                </td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numero" class="col-sm-2 control-label">Ordem exibição</label>
                            <div class="col-sm-6">
                                <input type="number" step="1" id="ordemExibicao" name="ordemExibicao" class="form-control" ng-model="classeSelecionada.ordemExibicao" maxlength="3" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div id="divCheckSincronizar" class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label class="control-label"><input type="checkbox" id="sincronizar" name="sincronizar" ng-model="classeSelecionada.sincronizar" />Sincronizar</label>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" ng-click="gravarClasse()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>