@using Microsoft.AspNet.Identity;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
<style>
    body {
        overflow-y: scroll;
    }
</style>
<script src="~/app/CadastroObservacaoProducaoForm/copController.js"></script>
<div ng-controller="copController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()')">
    <div class="alert alert-danger alert-dismissible fade in {{mensagem.erro ? '' : 'hidden'}}" role="alert" style="margin-top: 20px;">
        <button type="button" class="close" aria-label="Close" ng-click="mensagem.erro = ''"><span aria-hidden="true">×</span></button>
        {{mensagem.erro}}
        <br />
    </div>
    <div cg-busy="{promise:promiseGetObservacoes,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formPedido" class="form-horizontal" ng-submit="submitForm()">
        <br />
        <h3>Observações de produção - Cadastro</h3>
        <hr />
        <div ng-if="rowCollection.length <= 0">
            <small>Nenhum item cadastrado</small>
        </div>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped" ng-if="rowCollection.length > 0">
            <thead>
                <tr>
                    <th st-sort="codPedido" width="10%"><a href="#">Código</a></th>
                    <th st-sort="dataPedido" width="90%"><a href="#">Descrição</a></th>
                    <th st-sort="" colspan="3" width="10%"><a href="#"></a></th>
                </tr>
                <tr>
                    <th>
                        <input st-search="codObservacao" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input st-search="descricaoObservacao" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                    </th>
                    <th colspan="2">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obs in displayedCollection">
                    <td>{{obs.codObservacao}}</td>
                    <td>{{obs.descricaoObservacao}}</td>
                    <td>
                        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">
                        <div class="text-right">
                            <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-plus">
                                </i>Cadastrar
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>