@using Microsoft.AspNet.Identity;
@using BrasaoHamburgueria.Web.Helpers;
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}
@{
    var lojas = SessionData.Empresas;
    var codLojaSelecilnada = SessionData.CodLojaSelecionada;
    var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings
    {
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
    };
}
<style>
    body {
        overflow-y: scroll;
    }
</style>
<script src="~/app/CadastroParametroSistema/cpsController.js"></script>
<div ng-controller="cpsController" ng-init="init('@User.Identity.GetUserName()', '@GetAntiForgeryToken()', '@Newtonsoft.Json.JsonConvert.SerializeObject(lojas, jsonSettings)', @codLojaSelecilnada)" class="centro">
    @Html.Partial("~/Views/Shared/_MensagensInformativas.cshtml")
    <div cg-busy="{promise:promiseGetParametros,backdrop:false,delay:10,minDuration:1000}"></div>
    <div cg-busy="{promise:promiseExcluirParametro,backdrop:false,delay:10,minDuration:1000}"></div>
    <form role="form" id="formPar" class="form-horizontal" ng-submit="submitForm()">
        <h3>Parâmetros de sistema - Cadastro</h3>
        <hr />
        <div class="table-responsive">
            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="codParametro" width="10%"><a href="#">Código</a></th>
                        <th st-sort="descricaoParametro" width="50%"><a href="#">Descrição</a></th>
                        <th st-sort="valorParametro" width="20%"><a href="#">Valor</a></th>
                        <th st-sort="" colspan="2" width="10%"><a href="#"></a></th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="codParametro" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="descricaoParametro" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input st-search="valorParametro" placeholder="Pesquisar" class="input-sm form-control" type="search" />
                        </th>
                        <th colspan="2">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="rowCollection.length <= 0">
                        <td colspan="5">
                            <div>
                                <small>Nenhum item cadastrado</small>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="par in displayedCollection" ng-if="rowCollection.length > 0">
                        <td>{{par.codParametro}}</td>
                        <td>{{par.descricaoParametro}}</td>
                        <td>{{par.valorParametro}}</td>
                        <td>
                            <button type="button" ng-click="confirmaExclusaoParametro(par)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button" ng-click="modalAlteracao(par)" class="btn btn-sm btn-warning">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">
                            <div class="text-right">
                                <button type="button" ng-click="modalInclusao()" class="btn btn-sm btn-primary">
                                    <i class="glyphicon glyphicon-plus">
                                    </i>Cadastrar
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
    <form role="form" id="formGravarPar" class="form-horizontal">
        <div class="modal fade" id="modalGravarPar" tabindex="-1" role="dialog" aria-labelledby="labelModalGravarPar" style="overflow: scroll;">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="labelModalGravarPar">Parâmetro de sistema - Manutenção</h4>
                    </div>
                    <div class="modal-body">
                        <div cg-busy="{promise:promiseGravarPar,backdrop:false,delay:10,minDuration:1000}"></div>

                        <div class="form-group">
                            <label for="codParametro" class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-2">
                                <input type="text" id="codParametro" ng-disabled="modoCadastro == 'A'" name="codParametro" class="form-control" ng-model="parSelecionado.codParametro" maxlength="5" />
                                <div class="help-block with-errors"></div>
                            </div>
                            <small ng-id="modoCadastro == 'I'">Deixe o campo vazio para gerar o código automaticamente</small>
                        </div>

                        <div class="form-group">
                            <label for="descricaoParametro" class="col-sm-2 control-label">Descrição</label>
                            <div class="col-sm-10">
                                <input type="text" required id="descricaoParametro" name="descricaoParametro" class="form-control" ng-model="parSelecionado.descricaoParametro" maxlength="200" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="valorParametro" class="col-sm-2 control-label">Valor</label>
                            <div class="col-sm-10">
                                <input type="text" required id="valorParametro" name="valorParametro" class="form-control" ng-model="parSelecionado.valorParametro" maxlength="200" />
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" ng-click="gravarParametroSistema()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>