@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .navbar-brand {
        font-size: small;
        font-weight: bold;
        color: #000000;
    }
}

@media (min-width: 768px) {

    .navbar-brand {
        font-size: large;
        font-weight: bold;
        color: #000000;
    }

}

.navbar-toggler-icon {
    color: #000000 !important;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
}

.btn-dark {
    color: #343a40;
    background-color: #fff;
    border-color: #fff;
}