.centro {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    height: 100%;
}

.rodape {
    color: white;
    font-weight: bold;
}

.texto-branco {
    color: white;
    font-weight: bold;
}





div.auto-complete-container {
    border: 1px solid lightsteelblue;
    background-color: #F0F0D8;
    white-space: nowrap;
}

    div.auto-complete-container ul.auto-complete-results li.auto-complete-item {
        list-style-type: none;
        padding: 8px 5px;
        background-color: #D8C078;
        cursor: pointer;
        font-weight: bold;
    }

        div.auto-complete-container ul.auto-complete-results li.auto-complete-item:hover {
            background-color: #F0D8A8;
            color: #000000;
        }

    div.auto-complete-container ul.auto-complete-results li.auto-complete-item-selected {
        background-color: #F0D8A8;
        color: #000000;
    }





.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.st-selected {
    background: #216eff !important;
    color: white !important;
}

.corAlerta {
    background-color: #fb0303;
}

.texto-tachado {
    text-decoration: line-through;
}

body {
    padding-top: 50px;
    padding-bottom: 70px;
}

.navbar-inverse {
    background-color: #D8C078;
    /*background-image: url('img/menu_background.jpg');*/
    border-color: #ffffff;
    border: none;
}


    .navbar-inverse .navbar-collapse ul a {
        color: #000000;
    }

.casaAberta {
    font-weight: bold;
    background: #57ce4e;
}

.casaFechada {
    font-weight: bold;
    background: #D89000;
}




.panel-info > .panel-heading {
    color: #807718;
    background-color: #F0D8A8;
    border-color: #807718;
}

.panel-info {
    border-color: #807718;
}


.navbar-inverse .navbar-collapse ul a:hover {
    /*color: #f7cece;*/
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

    .navbar-inverse .navbar-toggle.collapsed {
        border-color: #ffffff;
    }

.navbar-inverse .navbar-collapse .dropdown ul {
    background-color: #D8C078;
    /*background-image: url('img/menu_background.jpg');*/
}

ul.nav.navbar-nav .dropdown.open .dropdown-toggle {
    background-color: #807718;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
}

.navbar-inverse .navbar-collapse .dropdown .dropdown-menu li a {
}

.divider {
    border-top: 1px solid #F0F0D8;
}

.navbar-inverse .navbar-collapse .dropdown .dropdown-menu li a:hover {
    background-color: #F0D8A8;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 80px !important;
    height: 80px !important;
    font-size: 10px;
    margin: 5px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding: 2px;
}


/* Absolute Center Spinner */
.cg-busy {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .cg-busy:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .cg-busy:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .cg-busy:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
    margin: 0px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F0F0D8;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 10px;
        width: 10px;
        left: 1px;
        bottom: 3px;
        background-color: #560702;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #D89000;
}

input:focus + .slider {
    box-shadow: 0 0 1px #D89000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }









a, a:hover {
    text-decoration: none;
}

/* $Nav */
.nav-1 {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1;
}

    .nav-1.nav-bottom {
        bottom: 0;
        font-size: 0.8em;
        border-top: 3px solid #807718;
    }

        .nav-1.nav-bottom li {
            padding: 0;
        }

        .nav-1.nav-bottom .icon-nav-bottom {
            font-size: 2.8em;
            color: red !important;
        }

/* $Nav Tab */
.nav-tabs.nav-tabs-1 > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs.nav-tabs-1 > li {
    padding: 0;
}

    .nav-tabs.nav-tabs-1 > li > a {
        border: none;
        font-size: 1.3em;
        padding: 20px 0;
        font-weight: 900;
    }

    .nav-tabs.nav-tabs-1 > li.active > a, .nav-tabs > li > a:hover {
        border: none;
        background: transparent;
    }

    .nav-tabs.nav-tabs-1 > li > a::after {
        content: "";
        background: #c83d3d;
        height: 3px;
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: -1px;
        transition: all 250ms ease 0s;
        transform: scale(0);
    }

    .nav-tabs.nav-tabs-1 > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

/* $Background */
.bg-1 {
    background: #D8C078;
}

.btn-4 {
    color: #fff;
    padding: 5px 0;
    display: block;
}

    .btn-4:hover, .btn-4-active {
        color: #000000;
        background: #fff;
        text-decoration: none;
        border-top: 0px solid #807718;
        margin-top: -6px;
        padding: 8.5px 0;
    }

.icon-login:before {
    content: "\e903";
}

:after, :before {
    box-sizing: border-box;
}

.divTransparente {
    background: rgba(216, 192, 120, 0.4); /* Green background with 30% opacity */
}

.linkRodape {
    color: white;
}










/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
.multiDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

    /**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
    .multiDemo ul[dnd-list] .dndPlaceholder {
        background-color: #ddd;
        display: block;
        min-height: 42px;
    }

    .multiDemo ul[dnd-list] li {
        background-color: #fff;
        border: 1px solid #ddd;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        display: block;
        margin-bottom: -1px;
        padding: 10px 15px;
    }

        /**
 * Show selected elements in green
 */
        .multiDemo ul[dnd-list] li.selected {
            background-color: #807718;
            color: white;
        }