@using Microsoft.AspNet.Identity
@using BrasaoHamburgueria.Web.Repository;
@{
    var emManut = ParametroRepository.GetEmManutencao();
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Sair", "Conta", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + User.Identity.GetUserName(), "Alterar", "Conta", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (emManut == "S")
        {
            <li></li>
        }
        else
        {
            <li>@Html.ActionLink("Registrar", "Cadastrar", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Entrar", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
}