@model System.Web.Mvc.HandleErrorInfo
@using BrasaoHamburgueria.Web.Helpers;

@{
    ViewBag.Title = SessionData.LojaSelecionada.NomeFantasia + " - Erro";
}

<h1 class="text-danger">Error.</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">Ops! Ocorreu uma falha no processamento da requisição. Tente novamente em alguns minutos.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}