@{
    ViewBag.Title = "Brasão Hamburgueria - Bem vindo!";
}
<h2>Bem vindo!</h2>
<script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
        console.log(error);
    }
    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            //'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure,
            'title': 'aaa'
        });
    }
</script>
<div class="row">
    <div class="col-sm-6">
        <br />
        <span class="text-primary">Já tem cadastro?</span><br />
        Clique @Html.ActionLink("aqui", "Login", "Conta") e faça login.<br /><br />
        ou<br /><br />
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="margin-bottom: 10px"></div>
        <div id="my-signin2"></div>
    </div>
    <div class="col-sm-6">
        <br />
        <span class="text-warning">É novo por aqui?</span><br />
        Clique @Html.ActionLink("aqui", "Cadastrar", "Conta") e faça seu cadastro.
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>