@using BrasaoHamburgueria.Model
@{
    ViewBag.Title = "Brasão Hamburgueria - Sistema de pedidos online";
}
<h2>Bem vindo!</h2>
<script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
        console.log(error);
    }
    function renderButton() {
        gapi.signin2.render('my-signin2', {
            'scope': 'profile email',
            'width': 240,
            //'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure,
            'title': 'aaa'
        });
    }
</script>
<div class="row">
    <div class="col-sm-12">
        <p>
            <h5>
                Bem vindo ao sistema de pedidos online da Brasão Hamburgueria. Aqui você poderá fazer seu pedido no conforto do lar e acompanhar o andamento até recebê-lo.
            </h5>
        </p>
        <p>
            <h5>
                Esperamos que goste! :)
            </h5>
        </p>
        <p>
            <h5>
                Se quiser dar uma olhada no nosso cardápio antes de se cadastrar clique @Html.ActionLink("aqui", "Listar", "Cardapio").
            </h5>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <br />
        <h4 class="text-primary">Já tem cadastro?</h4>
        Clique @Html.ActionLink("aqui", "Login", "Conta") e faça login.<br /><br />
        ou<br /><br />
        @*<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="margin-bottom: 10px"></div>
            <div id="my-signin2"></div>*@
        @Html.Partial("~/Views/Conta/_ListaLoginExternos.cshtml", new LoginExternoViewModel { ReturnURL = ViewBag.ReturnUrl })
    </div>
    <div class="col-sm-6">
        <br />
        <h4 class="text-warning">É novo por aqui?</h4>
        Clique @Html.ActionLink("aqui", "Cadastrar", "Conta") e faça seu cadastro.
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>