@{
    ViewBag.Title = "Brasão Hamburgueria - Bem vindo!";
}
<h2>Bem vindo!</h2>
<div class="row">
    <div class="col-sm-6">
        <br />
        <span class="text-primary">Já tem cadastro?</span><br />
        Clique @Html.ActionLink("aqui", "Login", "Conta") e comece a faça login.
    </div>
    <div class="col-sm-6">
        <br />
        <span class="text-warning">É novo por aqui?</span><br />
        Clique @Html.ActionLink("aqui", "Cadastrar", "Conta") e faça seu cadastro.
    </div>
</div>