@{
    ViewBag.Title = "Brasão Hamburgueria - Redefinição de senha de acesso";
}
<hgroup class="title">
    <h1>Atenção!</h1>
</hgroup>
<div>
    <p>
        Por favor verifique seu e-mail e siga as instruções para redefinir sua senha de acesso.
    </p>
</div>
