<div ng-controller="loginController">
    @{
        ViewBag.Title = "Brasão Hamburgueria - Login";
        var returnUrl = "";
        if (Request.Params != null && Request.Params.Count > 0 && Request.Params["ReturnUrl"] != null)
        {
            returnUrl = Request.Params["ReturnUrl"].ToString();
        }
    }
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    <script src="~/app/LoginForm/loginController.js"></script>
    <h2 class="page-header">Entrar</h2>
    <div cg-busy="{promise:promiseBusy,backdrop:false,templateUrl:baseUrl + '/Content/templates/_Loading.html',delay:10,minDuration:1000}"></div>
    <form role="form" id="formLogin" class="form-horizontal" ng-submit="submitForm()">
        <div id="mensagemErroFormulario" class="alert alert-danger hidden" role="alert"></div>
        <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@GetAntiForgeryToken()'" />
        <input id="returnUrl" data-ng-model="returnUrl" type="hidden" data-ng-init="loginViewModel.returnUrl='@returnUrl'" />
        <div class="form-group">
            <label for="usuario" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-4">
                <input type="text" required id="usuario" name="usuario" class="form-control" ng-model="loginViewModel.usuario" maxlength="50" data-email />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="senha" class="col-sm-2 control-label">Senha</label>
            <div class="col-sm-4">
                <input type="password" required id="senha" name="senha" class="form-control" ng-model="loginViewModel.senha" maxlength="10" />
                <div class="help-block with-errors"></div>
                <div class="checkbox">
                    <label class="control-label"><input type="checkbox" id="lembrarMe" name="lembrarMe" ng-checked="loginViewModel.lembrarMe" ng-model="loginViewModel.lembrarMe" />Lembrar-me</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" value="Entrar" />
            </div>
        </div>
        <p class="col-sm-offset-2">
            @Html.ActionLink("Esqueci minha senha", "EsqueciMinhaSenha", "Conta")
        </p>
    </form>
</div>