@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Parabéns!</h1>
</hgroup>
<div>
    <p>
        Sua senha foi redefinida com sucesso. Por favor @Html.ActionLink("clique aqui ", "Login", "Conta", routeValues: null, htmlAttributes: new { id = "loginLink" }) para entrar
    </p>
</div>